[Desktop Entry]

Encoding=UTF-8

Name=WallScript
Name[C]=WallScript

Comment=Starts the wallscript wallpaper rotator
Comment[C]=Starts the wallscript wallpaper rotator

Exec=wallscript-startup
Terminal=false

Type=Application
Categories=

X-GNOME-Autostart-enabled=true
X-GNOME-AutoRestart=true
